*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 1px;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	width: 100%;
	background-color: #fafafa;
	color: #5a5a5a;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input:focus,
button:focus {
	outline: none;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.search-form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 0;
}

.search-form input,
.search-form button {
	height: 42px;
	padding: 0 22px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.search-form input {
	width: 450px;
	color: #5a5a5a;
	background-color: #fff;
	border: 1px solid #ced4da;
}

.search-form button {
	width: 120px;
	display: inline-block;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	background-color: #ffce67;
	border: 1px solid #ffce67;
	margin-left: 10px;
}

.search-list {
	list-style-type: none;
	padding: 0 20px;
	margin-top: 50px;
}

.search-list li {
	margin-bottom: 14px;
}

.search-list li > a {
	font-size: 20px;
	color: #000;
}
